{% extends "base.html" %}
{% load custom_markdown %}
 
{% block title %} 首页 {% endblock title %}

{% block custom_styles %}
<link href="/static/blog/css/monokai.css" rel="stylesheet">
<link href="/static/blog/css/style.css" rel="stylesheet">
{% endblock %}
 
{% block content %}
<a class="link link--kukuri" href="#" data-letters="hexiaodou">hexiaodou的博客</a>
<p align="right"><font face="arialarial" style="color:#d0e4fe">纪录一些笔记</font></p>
<hr class="hr_solid">
<br>
<ul>
  {% for article in item_info.object_list %}
    <h2 face="Arial">{{ article.title }}</h2>
    <div>
      <span class="blog_info"><i class="book icon"></i>{{ article.category.name}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span class="blog_info"><i class="calendar icon"></i>{{ article.pub_date | date:"Y/m/d H:i:s" }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span class="blog_info"><i class="unhide icon"></i>{{ article.view_times}}</span>
    </div>
      {{ article.content | safe | custom_markdown | truncatewords_html:10 }} 
    <div>
      <br>
      <a class="ui inverted blue button center aligned" href={{ article.get_absolute_url }}>Read more</a>
    </div>
      <hr class="hr_red"/>
    {% endfor %}
</ul>

<div class="ui pagination menu">
  {% if item_info.has_previous %}
    <a class="item" href="?page={{item_info.previous_page_number}}">上一页</a>
  {% endif %}
  {% for page_num in item_info.paginator.page_range %}
    <a class="item {% if page_num == item_info.number %}active{% endif %}" href="?page={{page_num}}">
    {{page_num}}
    </a>
  {% endfor %}
  {% if item_info.has_next %}
    <a class="item" href="?page={{item_info.next_page_number}}">下一页</a>
  {% endif %}
</div>
{% endblock content %}
